#!/bin/bash

file_name=bad-ips.txt

urls=(
http://www.ipdeny.com/ipblocks/data/aggregated/ru-aggregated.zone
http://www.ipdeny.com/ipblocks/data/aggregated/nl-aggregated.zone
http://www.ipdeny.com/ipblocks/data/aggregated/ng-aggregated.zone
https://check.torproject.org/exit-addresses
)

script_dir=/opt/scripts
script_file=."$file_name".tmp
web_dir=/var/www/html
web_file="$file_name".txt
timestamp=$(date "+%FT%T")

for url in "${urls[@]}"
do
  curl ${url} | grep -E -o "([0-9]{1,3}[\.]){3}[0-9]{1,3}(/[0-9]{1,2})?" | sed "1 s|$| #${url} - retrieved $timestamp|" >> $script_dir/$script_file
done

cp $script_dir/$script_file $web_dir/$web_file
rm $script_dir/$script_file
